---
import BaseHead from "@components/partials/header.astro";
---

<html>
	<head>
		<BaseHead />
		<meta http-equiv="refresh" content="0;url=/en/" />
	</head>

	<body>
		<h1>Redirecting...</h1>
	</body>
</html>
