---
import type { Page } from "astro";
import Card from "./Card.astro";
import Pagination from "./Pagination.astro";
import type { ContentCollectionKey, CollectionEntry } from "astro:content";

export interface Props {
	title: string;
	page: Page<CollectionEntry<ContentCollectionKey>>;
}

const { title, page } = Astro.props;
---

<div class="container">
	<div class="row justify-content-center">
		<div class="col-lg-8 col-xl-7">
			<h1 class="display-4 my-5 my-lg-6 pb-lg-4 text-center">{title}</h1>
		</div>
	</div>
</div>
<div class="bg-skew bg-skew-light">
	<div class="container py-4">
		<div class="row" transition:name="list" transition:animate="slide">
			{page?.data.map((post) => <Card post={post} />)}
		</div>
		<Pagination pagination={page} />
	</div>
</div>
